In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#for data sampling
from sklearn.model_selection import train_test_split
#for confusion matrix, accuracy, precision, and recall
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [2]:
df=pd.read_csv(r"C:\Users\user\Desktop\Introtallent\Python\data\Investment Prediction\Investment.csv")

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,Invested
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,No
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,No
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,Yes
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,No
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,Yes

In [4]:
df.shape

(41188, 21)

In [5]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp_var_rate      float64
cons_price_idx    float64
cons_conf_idx     float64
euribor3m         float64
nr_employed       float64
Invested           object
dtype: object

In [6]:
#replace yes and no with 1 and 0
df['Invested']=df['Invested'].replace(['Yes','No'],[1,0])

In [7]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
Invested          0
dtype: int64

In [8]:
#remove categorical variables
df=df.drop(['campaign','pdays','previous'],axis=1)

In [9]:
df_categorical=df.select_dtypes(include='object')
df_categorical

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,nonexistent
1,technician,married,unknown,no,no,no,cellular,nov,fri,nonexistent
2,management,single,university.degree,no,yes,no,cellular,jun,thu,success
3,services,married,high.school,no,no,no,cellular,apr,fri,nonexistent
4,retired,married,basic.4y,no,yes,no,cellular,aug,fri,success
...,...,...,...,...,...,...,...,...,...,...
41183,retired,married,high.school,unknown,no,yes,telephone,jun,thu,nonexistent
41184,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,nonexistent
41185,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,nonexistent
41186,technician,married,professional.course,no,no,yes,telephone,oct,tue,nonexistent
41187,student,single,high.school,no,no,no,telephone,may,fri,nonexistent

In [10]:
dummy=pd.get_dummies(df_categorical,drop_first=True)
dummy.head()

,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
df_numeric=df.select_dtypes(include=['int64','float64'])
df_numeric

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,Invested
0,44,210,1.4,93.444,-36.1,4.963,5228.1,0
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1
...,...,...,...,...,...,...,...,...
41183,59,222,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,196,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,62,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,200,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,112,1.1,93.994,-36.4,4.859,5191.0,0

In [12]:
df_final=pd.concat([df_numeric,dummy], axis=1)
df_final.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,Invested,job_blue-collar,job_entrepreneur,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,44,210,1.4,93.444,-36.1,4.963,5228.1,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1,0,0,...,0,0,0,0,0,1,0,0,0,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
#create x and y
x=df_final.drop('Invested', axis=1)
y=df_final['Invested']

In [14]:
#create training and test sample
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

In [15]:
#check sample size
print(xtrain.shape,xtest.shape,ytrain.shape,ytest.shape)

(28831, 50) (12357, 50) (28831,) (12357,)

In [16]:
#import Decision Tree classifier library from sklearn
from sklearn.tree import DecisionTreeClassifier

In [17]:
#Create model object
dtree=DecisionTreeClassifier(max_depth=5) #pruning

In [18]:
#fit the training model
dtree.fit(xtrain,ytrain)

DecisionTreeClassifier(max_depth=5)

In [19]:
#test the model using xtest
dtree_predicted=dtree.predict(xtest)

In [22]:
#check scores
dtree_accuracy=accuracy_score(ytest, dtree_predicted)
dtree_precision=precision_score(ytest, dtree_predicted)
dtree_recall=recall_score(ytest, dtree_predicted)
dtree_fscore=f1_score(ytest, dtree_predicted)

In [23]:
# update accuracy tables
col=['Model','Accuracy',  'Precision','Recall', 'F1-Score']
data=[["Decision Tree", dtree_accuracy,dtree_precision, dtree_recall,dtree_fscore]]
ml_summary=pd.DataFrame(data, columns=col)
ml_summary

           Model  Accuracy  Precision    Recall  F1-Score
0  Decision Tree  0.914704   0.630259  0.566134  0.596478

In [24]:
#import Random Forest classifier library from sklearn
from sklearn.ensemble import RandomForestClassifier

In [25]:
# creating a RF classifier
rfc = RandomForestClassifier(n_estimators = 100) #number of iterations

In [26]:
rfc.fit(xtrain,ytrain)

RandomForestClassifier()

In [27]:
rfc_predicted=rfc.predict(xtest)

In [28]:
#check scores
rfc_accuracy=accuracy_score(ytest, rfc_predicted)
rfc_precision=precision_score(ytest, rfc_predicted)
rfc_recall=recall_score(ytest, rfc_predicted)
rfc_fscore=f1_score(ytest, rfc_predicted)

In [29]:
# update accuracy tables
col=['Model','Accuracy',  'Precision','Recall', 'F1-Score']
data=[["Decision Tree", dtree_accuracy,dtree_precision, dtree_recall,dtree_fscore],
     ["Random Forest", rfc_accuracy,rfc_precision, rfc_recall,rfc_fscore]]
ml_summary=pd.DataFrame(data, columns=col)
ml_summary

           Model  Accuracy  Precision    Recall  F1-Score
0  Decision Tree  0.914704   0.630259  0.566134  0.596478
1  Random Forest  0.913814   0.652601  0.483285  0.555324